* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "MuseoModerno", cursive;
}

.container {
  padding: 0 10px;
  max-width: 950px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

button:hover {
  opacity: 0.6;
}

.promo {
  background: url("../img/bg.png") center center/cover no-repeat;
  padding: 0 0 93px 0;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 250px;
  height: 45px;
}

.header__logo img {
  width: 100%;
}

.header__burger {
  display: none;
}

.header__official {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
}

.header__official span {
  font-size: 18px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts .header__phone {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}

.header__contacts .header__button {
  margin-top: 4px;
  width: 150px;
  height: 30px;
  max-width: 150px;
  min-width: 120px;
  background: #C70101;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.promo__wrapper {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.promo__wrapper .promo__title {
  font-weight: 700;
  font-size: 42px;
  color: #FFFFFF;
}

.promo__wrapper .promo__subtitle {
  margin-top: 17px;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}

.promo__wrapper .promo__icons {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__wrapper .promo__icons .promo__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 35px;
}

.promo__wrapper .promo__icons .promo__icon:first-child {
  margin-left: 0;
}

.promo__wrapper .promo__icons .promo__icon .icon__text {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
}

.promo__wrapper .promo__button {
  margin-top: 65px;
  width: 300px;
  height: 50px;
  background: #C70101;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

.promo__wrapper .promo__catalogue {
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

.promo__wrapper .promo__catalogue a {
  color: #FFFFFF;
  text-decoration: underline;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.promo__wrapper .promo__catalogue a:hover {
  opacity: 0.6;
  font-size: 16.5px;
  text-decoration: none;
}

@media (max-width: 886px) {
  .header__logo {
    width: 200px;
  }

  .header__body {
    height: 50px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 70px 10px 20px 10px;
  }

  .header__menu.active {
    top: 0;
  }

  .header__logo {
    margin-top: 15px;
  }

  .header__official {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .header__contacts .header__phone {
    margin-bottom: 5px;
  }

  .promo__wrapper {
    padding-top: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .promo__wrapper .promo__title {
    font-size: 36px;
  }

  .promo__wrapper .promo__subtitle {
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  .promo {
    padding: 0 0 50px 0;
  }

  .promo__wrapper .promo__title {
    font-size: 27px;
  }

  .promo__wrapper .promo__subtitle {
    margin-top: 10px;
    font-size: 16px;
  }

  .promo__wrapper .promo__icons {
    margin-top: 30px;
  }

  .promo__wrapper .promo__icons .promo__icon .icon__text {
    font-size: 12px;
  }

  .promo__wrapper .promo__button {
    margin-top: 35px;
    width: 250px;
    font-size: 15px;
  }

  .promo__wrapper .promo__catalogue {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .header__logo {
    width: 150px;
  }

  .promo__wrapper .promo__title {
    font-size: 18px;
  }

  .promo__wrapper .promo__subtitle {
    font-size: 12px;
  }

  .promo__wrapper .promo__icons .promo__icon .icon__text {
    font-size: 10px;
  }

  .promo__wrapper .promo__button {
    width: 200px;
    height: 40px;
    font-size: 12px;
  }

  .promo__wrapper .promo__catalogue {
    font-size: 12px;
  }
}